/*
Concatinated JS file 
Author: Mahesh 
Created Date: 2015-09-18
 */ 

a {
	color:red;
}
/*
Concatinated JS file 
Author: Mahesh 
Created Date: 2015-09-18
 */
a:hover {
	color:white;
}
/*
Concatinated JS file 
Author: Mahesh 
Created Date: 2015-09-18
 */